<!-- Header -->
  <header class="border-b">
    <div class="max-w-7xl mx-auto py-4 px-4 text-center">
      <img src="/images/Logo.png" alt="Nutrixo Logo" class="mx-auto h-20" />
    </div>
  </header>