<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= typeof title !== 'undefined' ? title : 'User Dashboard' %></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.1/dist/dotlottie-wc.js" type="module"></script>


</head>
<body class="flex flex-col min-h-screen">
  <%- include('../partials/header') %>

  <main class="flex-grow">
    <%- body %>
  </main>

  <%- include('../partials/footer') %>
  <script src="/js/badgeUpdater.js"></script>
</body>
</html>
